footer {
    padding: 10px 0;
    
    .footer-content {
        margin-top: 50%;
        width: 50%;
        padding: 10px;
        display: flex;    
        font-size: 50%;
        margin: 0 auto;

        * {
            color: $main-font-header-color;
            margin-right: 10px;
        }
    
        .copyright {
            flex-basis: 40%;
        }
    }
}