.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;   

    .inner-main-header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: $header-color;
        align-items: center;
        font-size: 90%;
        padding: 5px;

        .menu {
            
            *{
                margin-right: 10px;
                color: $main-font-header-color
                
            }

            a:hover {
                color: $hover-color;
            }
        }

        .social {
            margin-bottom: -5px;

            img {
                margin-right: 10px;
            }
        }

    }
            .logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;

                img {
                    width: 40%;
                    // height: 30%;
                }

                p {
                    font-size: 90%;
                }
            }

            @media screen and (max-width: 768px) {
                .logo {
                    img {
                        width: 30%;
                        
                    }
                }
            }

    @media screen and (max-width: 768px) {
        .inner-main-header {
            flex-direction: column;
            
            .menu {
                display: flex;
                flex-direction: column;       
                align-items: center;
                margin-bottom: 10px;

                a{
                    margin-bottom: 10px;
                }
            }

        }
                .logo {
                    p {
                        text-align: center;
                        font-size: 80%;
                    }
                }
    }
}