@import url('https://fonts.googleapis.com/css?family=Roboto');

$main-font: 'Roboto', sans-serif;
$main-font-header-color: #939FAD;
$main-color: #18191D;
$yellow-color: #F2D13E;
$component-color: #222629;
$header-color: #2D3238;
$hover-color: #FBFFFC;
$main-font-color: #FBFFFC;
$border-color: #393E44;
